*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(236, 236, 236);
}
.flex{
    display: flex;
}
.unknow{
    height: 20px;
}
@font-face{
    font-family: "Strawberry Blossom";
    src: url('strawberryBlossom.ttf')
}